<ion-header>
  <ion-navbar>
    <!-- color = "red"-->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="content content--smaller flex flex--column justify--center">
    <div class="registerLogo"><img src="assets/image/logo.png" alt="main-icon"></div>
    <h2 align="center"> Register</h2>
    <div class="steps-container">
      <div class="steps flex justify--center">
        <div class="steps__bullet"></div>
        <div class="steps__bullet"></div>
        <div class="steps__bullet active"></div>
        <div class="steps__bullet"></div>
      </div>
    </div>
    <!-- <form (ngSubmit)="logForm()"> -->

      <ion-grid>


        <ion-row class="rowAlign">
          <ion-col col-11 class="geo customCol">
            <div class="homeAddressContent">
              <i class="icon-home kowoIconFamily iconLeft"></i>
              <ion-input type="text" [(ngModel)]="autocomplete.home" placeholder="Home" class="inputGeo" (ngModelChange)="updateHomeAddress()" [readonly]="!homeToggle"></ion-input>
              <i class="icon-edit kowoIconFamily iconRight" (click)="makeEditHome()"></i>
              <div class="autocompleteContent">
                <ion-item *ngFor="let item of autocompleteHome" tappable (click)="chooseHomeAddress(item)">
                  {{ item }}
                </ion-item>
              </div>
            </div>
          </ion-col>
          <ion-col col-1 class="geoicon customIcon"><i class="icon-geolocalize kowoIconFamily" (click)='getCurrLocationHome()'></i></ion-col>
        </ion-row>
        <ion-row class="rowAlign">
          <ion-col col-11 class="geo customCol">
            <div class="destinationAddressContent">
              <i class="icon-work kowoIconFamily iconLeft"></i>
              <ion-input type="text" [(ngModel)]="autocomplete.destination" placeholder="Destination" class="inputGeo" (ngModelChange)="updateDestinationAddress()" [readonly]="!workToggle"></ion-input>
              <i class="icon-edit kowoIconFamily iconRight" (click)="makeEditWork()"></i>
              <div class="autocompleteContent">
                <ion-item *ngFor="let item of autocompleteDestination" tappable (click)="chooseDestinationAddress(item)">
                  {{ item }}
                </ion-item>
              </div>
            </div>
          </ion-col>
          <ion-col col-1 class="geoicon customIcon"><i class="icon-geolocalize kowoIconFamily" (click)='getCurrLocationWork()'></i></ion-col>
        </ion-row>
        <ion-row class="rowAlign">
          <ion-col col-12 class="geo workArrivalTimePicker">
            <label class="label_time">I begin work at</label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
            <i class="icon-edit kowoIconFamily timeIconRight"></i>
          </ion-col>
        </ion-row>

        <ion-row class="rowAlign">
          <ion-col col-12 class="geo workArrivalTimePicker">
            <label class="label_time">I leave work at</label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
            <i class="icon-edit kowoIconFamily timeIconRight"></i>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 class="buttonValidate">

            <button ion-button type="submit" block>validate</button>

          </ion-col>
        </ion-row>

      </ion-grid>



    <!-- </form> -->

  </div>



</ion-content>
