<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <span class="notificationBubble">0</span>
          <img src="assets/image/logo.png" alt="main-icon" class="sideBarIc">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="header">
    <i class="icon-settings kowoIconFamily"></i>
    <h2 class="flex align--center justify--center ng-binding" align="center">My settings</h2>
  </div>

  <div class="bottomContent">
    <ion-grid>
      <ion-row>
        <ion-col col-md-3 col-12 class="uploadImage">
          <div>
            <a href="#" *ngIf="!base64Image" (click)="openImageLoader()">Upload Image</a>
            <img [src]="base64Image" *ngIf="base64Image" (click)="openImageLoader()">
          </div>
        </ion-col>
        <ion-col col-md-9 col-12>
          <div>
            <ion-input type="text" value="" placeholder="First Name"></ion-input>
          </div>
          <div>
            <ion-input type="text" value="" placeholder="Last Name"></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-md-12>
          <ion-input type="text" value="" placeholder="Phone Number"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-12>
          <ion-input type="email" value="" placeholder="Enter your email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <select class="dropDownMen">
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="dl">Dutch</option>
          </select>
        </ion-col>
      </ion-row>
      <!-- <ion-col col-md-12>
          <div class="homeAddressContent">
            <ion-input [(ngModel)]="autocomplete.home" placeholder="Home" (ngModelChange)="updateHomeAddress()"></ion-input>
            <i class="icon icon-geolocalize kowoIconFamily"></i>
            <div class="autocompleteContent">
              <ion-item *ngFor="let item of autocompleteHome" tappable (click)="chooseHomeAddress(item)">
                {{ item }}
              </ion-item>
            </div>
          </div>
        </ion-col> -->
      <ion-row class="rowAlign">
        <ion-col col-11 class="geo customCol">
          <div class="homeAddressContent">
            <i class="icon-home kowoIconFamily iconLeft"></i>
            <ion-input type="text" [(ngModel)]="autocomplete.home" placeholder="Home" class="inputGeo" (ngModelChange)="updateHomeAddress()" [readonly]="!homeToggle"></ion-input>
            <i class="icon-edit kowoIconFamily iconRight" (click)="makeEditHome()"></i>
            <div class="autocompleteContent">
              <ion-item *ngFor="let item of autocompleteHome" tappable (click)="chooseHomeAddress(item)">
                {{ item }}
              </ion-item>
            </div>
          </div>
        </ion-col>
        <ion-col col-1 class="geoicon customIcon"><i class="icon-geolocalize kowoIconFamily" (click)='getCurrLocationHome()'></i></ion-col>
      </ion-row>
      <ion-row class="rowAlign">
        <ion-col col-11 class="geo customCol">
          <div class="destinationAddressContent">
            <i class="icon-work kowoIconFamily iconLeft"></i>
            <ion-input type="text" [(ngModel)]="autocomplete.destination" placeholder="Destination" class="inputGeo" (ngModelChange)="updateDestinationAddress()" [readonly]="!workToggle"></ion-input>
            <i class="icon-edit kowoIconFamily iconRight" (click)="makeEditWork()"></i>
            <div class="autocompleteContent">
              <ion-item *ngFor="let item of autocompleteDestination" tappable (click)="chooseDestinationAddress(item)">
                {{ item }}
              </ion-item>
            </div>
          </div>
        </ion-col>
        <ion-col col-1 class="geoicon customIcon"><i class="icon-geolocalize kowoIconFamily" (click)='getCurrLocationWork()'></i></ion-col>
      </ion-row>
      <ion-row class="rowAlign" >
        <ion-col col-12 class="geo workArrivalTimePicker">
          <label class="label_time">I begin work at</label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm g"></ion-datetime>
          <i class="icon-edit kowoIconFamily timeIconRight"></i>
        </ion-col>
      </ion-row>

      <ion-row class="rowAlign" >
        <ion-col col-12 class="geo workArrivalTimePicker">
          <label class="label_time">I leave work at</label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm g"></ion-datetime>
          <i class="icon-edit kowoIconFamily timeIconRight"></i>
        </ion-col>
      </ion-row>

      <ion-row radio-group class="preferenceRadioButton" [(ngModel)]="carPreference" (ionChange)="checkPref()">
        <ion-col col-auto>

          <ion-item>
            <ion-label>My Own Car</ion-label>
            <ion-radio item-left value="myOwnCar" checked></ion-radio>

          </ion-item>
          <ion-item>
            <ion-label>Company Car</ion-label>
            <ion-radio item-left value="companyCar"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>I don't have a car</ion-label>
            <ion-radio item-left value="noCar"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <div *ngIf="showCarProperties">
        <ion-row>
          <ion-col col-md-12>
            <ion-input type="text" value="" placeholder="Car Name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-md-12>
            <ion-input type="text" value="" placeholder="Model Number"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-md-12>
            <ion-input type="text" value="" placeholder="Plate Number"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-md-12>
          <ion-item>
            <ion-label>Sync rides with my calendar</ion-label>
            <ion-toggle class="calenderSyncToggle" [(ngModel)]="syncCalendar"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="buttonValidate">
            <button ion-button [navPush]="homepage" >Validate</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
