<ion-menu [content]="content" class="sideMenuMainContent">
  <ion-header>
    <ion-toolbar class="sideMenuMainTitle">
      <!-- <ion-title>Menu</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div  *ngFor="let p of pages" class="sideMenuMain">
        <button ion-item (click)="p.child.length>1 ? showChildren(): openPage(p)">
          <div class="sidemenuIcons">
            <i class="{{p.image + ' kowoIconFamily'}}"></i>
          </div>

          <p [innerHtml]="p.title" class="menuItemTitle"></p>
            <div class="notificationBubble" *ngIf="p.title==='My Inbox'">
              <span>0</span>
            </div>

        </button>
        <div *ngIf="p.child.length>1" [hidden] = "!isVisible"  >
          <ul class="childrenList">
          <li *ngFor="let children of p.child" ><a href="#" (click)="openChild(children)"[innerHtml]="children.name" menuClose></a></li>

          </ul>
        </div>



      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
