page-signup {
  font-family: 'ubuntulight', sans-serif;
  letter-spacing: 0.8px;

  .steps__bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4ac7cc;
    background-color: #fff;
    margin: 0 5px;
  }

  .steps__bullet.active {
    background-color: #4ac7cc;
  }

  .registerLogo {
    text-align: center;

    img {
      height: 60px;
    }
  }

  .item-md {
    background: transparent !important;
  }

  .buttonValidate {
    button {
      width: 100%;
      margin: 30px 0 10px;
      padding: 0;
      background-color: #2a7a7d;
      color: #fff;
      text-transform: uppercase;
      border-radius: 0;
      border-radius: 2px;

      &:hover {
        background-color: #2a7a7d !important;
      }
    }
  }

  .radio__label {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #2a7a7d;
    font-weight: 500;
    display: inline-block;
    margin: 0 !important;
  }

  .radio {
    text-align: center;
    display: table;

    ion-item {
      display: table-cell;
      width: 50%;
    }

    ion-label {
      text-align: right;
      padding-left: 10px;
      text-transform: uppercase;
      font-size: 0.8em;
      color: #2a7a7d !important;
      font-weight: 600;
    }

    .radio-md {
      .radio-icon {
        width: 28px;
        height: 28px;
        border-color: #4ac7cc;
        border-width: 1px;
      }
    }
  .radio-inner {
    background: transparent !important;
    width: 0 !important;
    height: 0 !important;
  }

    .radio-checked {
      border-width: 2px !important;
      .radio-inner {
        &:before {
          content: "\2713";
          position: absolute;
          top: -3px;
          color: #4ac7cc;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 20px;
        }
      }
    }

  }

  [col-auto] {
    margin: 0 auto;
  }

  .justify--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .flex--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .content--smaller {
    padding: 20px 10px 10px;
  }

  .content {
    position: relative;
  }
  //End of main element
  .steps-container {
    margin-bottom: 15px;
  }

  .item-md {
    background: transparent !important;
  }

  .text-input {
    font-family: 'ubuntulight';
    font-size: 15px;
    text-align: center;
    background-color: #4ac7cc;
    padding: 13px 8px !important;
    color: #fff;
    margin: 0 !important;
    box-sizing: content-box;
  }

  .dropDownMen {
    color: #fff;
    font-family: 'ubuntulight';
    font-size: 15px;
    padding: 13px 8px !important;
    width: 100%;
    background-color: #4ac7cc;
    margin: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last: center;
    border: none;
  }

  .label-md {}
  /// @prop - Show the focus highlight when the input has focus
  h2 {
    font-size: 1em;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
  }

  h2,
  h3,
  h4,
  h5 {
    text-transform: uppercase;
    font-family: 'ubunturegular';
    color: #4ac7cc;
  }

  .item-inner {
    padding-right: 0 !important;
    border-bottom: none !important;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff !important;
    font-size: 15px !important;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
    font-size: 15px !important;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff !important;
    font-size: 15px !important;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
    font-size: 15px !important;
  }
}
